<Configuration status="warn">

    <Appenders>

        <!-- Console output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger - %msg%n"/>
        </Console>

        <!-- File output -->
        <File name="FileLogger" fileName="app.log">
            <PatternLayout pattern="%d %-5p %c - %m%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>